{% extends "layout.html" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <img id="waves" src="/public/images/waves.png" width="100px">  

        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We've sent your application to Stefania's Office.</p>
      <p>They will contact you either to confirm your preferences, or to ask for more information.</p>
      <p>What did you think of this tutorial? <a href=mailto:stefania.quattropani@kinandcarta.com>Send feedback</a></p>

      

    </div>
  </div>

{% endblock %}
