
{% extends "layout.html" %}

{% block beforeContent %}
<a class="govuk-back-link" href="about">Back</a>
{% endblock %}

{% block content %}

{% set newpodInput %}

{{ 
  
  govukInput({
  id: "newpodInput",
  name: "newpodInput",
  classes: "govuk-!-width-one-half",
  label: {
    text: "Propose a new PoD session"
  },
  value: ((checked("pod", "Not listed") == "checked") and data["newpodInput"]) or ''


}) }}
{% endset -%}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Ceremonies preferences</h1>
 
      <form class="form" action="check-answers" method="post">
        
    
        {{ govukCheckboxes({
          name: "pod",
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "Which PoD session do you wish to attend?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
         
            {
              text: "Service Design",
              value: "Service Design",
              checked: checked("pod", "Service Design")
            },
            {
              text: "UX Research",
              value: "UX Research",
              checked: checked("pod", "UX Research")
            },
            {
              text: "UX & Product Design",
              value: "UX & Product Design",
              checked: checked("pod", "UX & Product Design")
            },
            {
              text: "Brand Experience",
              value: "Brand Experience",
              checked: checked("pod", "Brand Experience")
            },
            {
              text: "Content Strategy",
              value: "Content Strategy",
              checked: checked("pod", "Content Strategy")
            },
            {
              text: "Inclusive Design",
              value: "Inclusive Design",
              checked: checked("pod", "Inclusive Design")
            },

            {
              text: "Design Operations",
              value: "Design Operations",
              checked: checked("pod", "Design Operations"),
              hint: {
                text: "This is paused till February 2023"
              }
            },
            {
              divider: "or"
            },
            {
              text: "Not listed",
              value: "Not listed",
              checked: checked("pod", "Not listed"),
              behaviour: "exclusive",
              conditional: {
                html: newpodInput
              }
            }
          ]
        }) }}


        
       
        {{ govukButton({
          text: "Check your answers"
        }) }}






      </form>

    </div>
  </div>

{% endblock %}
